force-app/main/default/flows/Datacallout_from_external.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Callout_with_External_Application</name>
        <label>Callout with External Application</label>
        <locationX>444</locationX>
        <locationY>380</locationY>
        <actionName>EPP_Test_RAD::CalloutExternalApplication.weatherapi</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Check_If_you_authenticated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>q</name>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>units</name>
            <value>
                <stringValue>metric</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>appid</name>
            <value>
                <stringValue>7074dd594c9481c701390717e693f49a</stringValue>
            </value>
        </inputParameters>
        <nameSegment>EPP_Test_RAD::CalloutExternalApplication.weatherapi</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_If_you_authenticated</name>
        <label>Check If you authenticated</label>
        <locationX>557</locationX>
        <locationY>418</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Response_Happy_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Callout_with_External_Application.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GEO_Location_Fields</targetReference>
            </connector>
            <label>Response Happy Path</label>
        </rules>
        <rules>
            <name>Response_Negative_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Callout_with_External_Application.responseCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Location_with_status_code</targetReference>
            </connector>
            <label>Response Negative Path</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Datacallout from external {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Datacallout from external</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_Record_about_weatherInfo</name>
        <label>Create Child Record about weatherInfo</label>
        <locationX>1017</locationX>
        <locationY>308</locationY>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Callout_with_External_Application.2XX.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locations__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temp_Max__c</field>
            <value>
                <elementReference>Callout_with_External_Application.2XX.main.tempx5fmax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temp_Min__c</field>
            <value>
                <elementReference>Callout_with_External_Application.2XX.main.tempx5fmin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temp__c</field>
            <value>
                <elementReference>Callout_with_External_Application.2XX.main.temp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wind_Speed__c</field>
            <value>
                <elementReference>Callout_with_External_Application.2XX.wind.speed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>humidity__c</field>
            <value>
                <elementReference>Callout_with_External_Application.2XX.main.humidity</elementReference>
            </value>
        </inputAssignments>
        <object>Weather__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_GEO_Location_Fields</name>
        <label>Update GEO Location Fields</label>
        <locationX>808</locationX>
        <locationY>328</locationY>
        <connector>
            <targetReference>Create_Child_Record_about_weatherInfo</targetReference>
        </connector>
        <inputAssignments>
            <field>CityId__c</field>
            <value>
                <elementReference>Callout_with_External_Application.2XX.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAvailability__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__Latitude__s</field>
            <value>
                <elementReference>Callout_with_External_Application.2XX.coord.lat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__Longitude__s</field>
            <value>
                <elementReference>Callout_with_External_Application.2XX.coord.lon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_code__c</field>
            <value>
                <elementReference>Callout_with_External_Application.responseCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Location_with_status_code</name>
        <label>update Location with status code</label>
        <locationX>682</locationX>
        <locationY>561</locationY>
        <inputAssignments>
            <field>Response_code__c</field>
            <value>
                <elementReference>Callout_with_External_Application.responseCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>City__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Location__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Callout_with_External_Application</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
